<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Bar</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<style>
    .text-info{
        color: aqua;
    }
</style>
<body>
    <div class="text-info">
        <div class="social-media-top">Jl. Kemang Raya No. 7, 4th floor, Mampang Prapatan, South Jakarta 12730
        
        <a href="https://www.facebook.com/your_page" target="_blank" class="icon-link"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/your_handle" target="_blank" class="icon-link"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/your_username" target="_blank" class="icon-link"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/your_profile" target="_blank" class="icon-link"><i class="fab fa-linkedin"></i></a>
        
      </div>
      </div>
</body>
</html>